openapi: "3.0.0"
info:
  title: OpenCars API
  description: "OpenCars — платформа для роботи з даними про транспортні засоби. Наше API надає актуальні дані з реєстрів України.<br> Наша мета — надання якісних даних про транспортні засоби для різних програмних забезпечень в Україні. Для доступу пишіть нам на <a href='mailto:sales@opencars.app?subject=API'>sales@opencars.app</a> та вкажіть для якого проекту плануєте використання."
  version: 0.2.1
  contact:
    email: "support@opencars.app"
servers:
  - url: https://api.opencars.app/api/v1/
paths:
  /operations:
    get:
      tags:
        - Транспорт
      security:
        - ApiKeyAuth: []
      summary: Інформація про операції за реєстраційним номером
      parameters:
        - name: number
          in: query
          required: true
          schema:
            type: string
          description: Реєстраційний номер
          example: AA9359PC
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 10
          description: Кількість записів
        - name: order
          in: query
          required: false
          description: Порядок сортування
          schema:
            type: string
            default: desc
            enum: [asc, desc]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Operation'
        401:
          description: Потрібна Авторизація
        405:
          description: Помилковий метод
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /registrations:
    get:
      tags:
        - Транспорт
      security:
        - ApiKeyAuth: []
      summary: Інформація про реєстрації транспортного засобу
      parameters:
        - name: number
          in: query
          required: false
          schema:
            type: string
          description: Реєстраційний номер
          example: AA9359PC
        - name: vin
          in: query
          required: false
          schema:
            type: string
          description: VIN
        - name: code
          in: query
          required: false
          schema:
            type: string
          description: Номер свідотства про реєстрацію
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Registration'
        401:
          description: Потрібна Авторизація
        405:
          description: Помилковий метод
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /registrations/{code}:
    get:
      tags:
        - Транспорт
      security:
        - ApiKeyAuth: []
      summary: Реєстрація транспортного засобу за номером свідотства
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: Номер свідотства про реєстрацію
          example: СХН484154
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        401:
          description: Потрібна Авторизація
        405:
          description: Помилковий метод
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /wanted/vehicles:
    get:
      tags:
        - Транспорт
      security:
        - ApiKeyAuth: []
      summary: Інформація про викрадені транспортні засоби
      parameters:
        - name: number
          in: query
          required: false
          schema:
            type: string
          description: Реєстраційний номер
          example: AA4686EH
        - name: vin
          in: query
          required: false
          schema:
            type: string
          description: VIN-код
        - name: revision
          in: query
          required: false
          schema:
            type: integer
          description: Номер ревізії
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WantedVehicle'
        401:
          description: Потрібна Авторизація
        405:
          description: Помилковий метод
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /wanted/revisions:
    get:
      tags:
        - Транспорт
      security:
        - ApiKeyAuth: []
      summary: Інформація про оновлення реєстру викрадених транспортних засобів
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 100
          description: Кількість елементів у відповіді
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WantedRevision'
        401:
          description: Потрібна Авторизація
        405:
          description: Помилковий метод
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /wanted/revisions/{id}:
    get:
      tags:
        - Транспорт
      security:
        - ApiKeyAuth: []
      summary: Відомості про оновлення реєстру за унікальним кодом
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Унікальний код оновлення реєстру
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WantedRevision'
        401:
          description: Потрібна Авторизація
        405:
          description: Помилковий метод
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /wanted/revisions/stats:
    get:
      tags:
        - Транспорт
      security:
        - ApiKeyAuth: []
      summary: Статистика оновлення реєстру за останні 12 місяців
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WantedRevisionStatMonth'
        401:
          description: Потрібна Авторизація
        405:
          description: Помилковий метод
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stats/usage:
    get:
      tags:
        - Статистика
      security:
        - ApiKeyAuth: []
      summary: Статистика використання
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageStats'
        401:
          description: Потрібна Авторизація
        405:
          description: Помилковий метод
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stats/usage/{from}/{to}:
    get:
      tags:
        - Статистика
      security:
        - ApiKeyAuth: []
      summary: Статистика використання
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
          description: Початок часу
          example: 1588636800
        - name: to
          in: path
          required: true
          schema:
            type: string
          description: Останній час (якщо відсутній, буде використовуватись поточний час)
          example: 1591056000
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageStats'
        401:
          description: Потрібна Авторизація
        405:
          description: Помилковий метод
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /vin-decoder/{vin}:
    get:
      tags:
        - VIN
      security:
        - ApiKeyAuth: []
      summary: Розшифровка VIN
      operationId: decodeVIN
      parameters:
        - name: vin
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-HJ-NPR-Z0-9]{17}'
          description: Ідентифікаційний номер транспортного засобу у ISO 3379
          example: 5YJXCCE40GF010543
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VinDecoderResult'
        400:
          description: Помилковий запит
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 400
                message: 'vin.is_not_valid'
        401:
          description: Потрібна Авторизація
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 401
                message: 'auth.token.is_not_valid'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key

  schemas:
    Error:
      type: object
      description: Повідомлення про помилку
      properties:
        code:
          type: integer
          description: Код помилки
        message:
          type: string
          description: Опис помилки

    Operation:
      type: object
      description: Детальна інформація про операцію з транспортним засобом
      properties:
        number:
          type: string
          description: Реєстраційний номер
          example: "АА9359РС"
        brand:
          type: string
          description: Марка
          example: "TESLA"
        model:
          type: string
          description: Модель
          example: "MODEL X"
        year:
          type: integer
          description: Рік випуску
          example: 2016
        date:
          type: string
          description: Дата проведення операції
          example: "2016-10-13"
        registration:
          type: string
          description: Вид реєстрації
          example: "РЕЄСТРАЦIЯ ТЗ ПРИВЕЗЕНОГО З-ЗА КОРДОНУ ПО ВМД"
        registration_code:
          type: integer
          description: Код виду реєстрації
          example: 70
        fuel:
          type: string
          description: Тип пального
          example: ЕЛЕКТРО
        capacity:
          type: number
          description: Об'єм двигуна
          example: null
        color:
          type: string
          description: Колір транспортного засобу
          example: ЧОРНИЙ
        kind:
          type: string
          description: Тип транспортного засобу
          example: ЛЕГКОВИЙ
        body:
          type: string
          description: Тип кузову
          example: УНІВЕРСАЛ-B
        purpose:
          type: string
          description: Призначення
          example: ЗАГАЛЬНИЙ
        own_weight:
          type: integer
          description: Маса без навантаження
          example: 2485
        total_weight:
          type: integer
          description: Повна маса
          example: 3021
        reg_addr_koatuu:
          type: string
          description: Адреса реєстрацiї у форматі КОАТУУ
          example: "8036600000"
        dep_code:
          type: integer
          description: Код департаменту
          example: 8044
        dep:
          type: string
          description: Назва департаменту
          example: "Центр 8044"
        person:
          type: string
          description: Назва департаменту
          example: "Юридична особа"

    Registration:
      type: object
      description: Детальна інформація про реєстрацію транспортного засобу
      properties:
        number:
          type: string
          description: Реєстраційний номер
          example: "АА9359РС"
        code:
          type: string
          description: Номер свідоцтва про реєстрацію транспортного засобу
          example: "СХН484154"
        vin:
          type: string
          description: VIN-код
          example: "5YJXCCE40GF010543"
        brand:
          type: string
          description: Марка
          example: "TESLA"
        model:
          type: string
          description: Модель
          example: "MODEL X"
        capacity:
          type: number
          description: Об'єм двигуна
          example: null
        rank_category:
          type: string
          description: Категорія транспортного засобу
          example: "B"
        num_seating:
          type: integer
          description: Кількість стоячих місць
          example: null
        num_standing:
          type: integer
          description: Кількість сидячих місць
          example: 7
        color:
          type: string
          description: Колір
          example: "ЧОРНИЙ"
        date:
          type: string
          description: Дата реєстрації
          example: "2019-06-05"
        first_reg_date:
          type: string
          description: Дата першої реєстрації
          example: "2016-10-13"
        fuel:
          type: string
          description: Тип пального
          example: "ЕЛЕКТРО"
        kind:
          type: string
          description: Тип
          example: "ЛЕГКОВИЙ УНІВЕРСАЛ-B"
        own_weight:
          type: number
          description: Маса без навантаження
          example: 2485
        total_weight:
          type: number
          description: Повна маса
          example: 3021
        year:
          type: integer
          description: Рік випуску
          example: 2016

    WantedVehicle:
      type: object
      description: Інформація про викрадений транспортний засіб
      properties:
        id:
          type: string
          description: Унікальний номер викраденого транспортного засобу
          example: "00163195157556102859"
        brand:
          type: string
          description: Інформація про транспортний засіб
          example: CHEVROLET - EXPRESS
        color:
          type: string
          description: Колір транспортного засобу
          example: ЗЕЛЕНИЙ
        number:
          type: string
          description: Реєстраційний номер
          example: AA4686EH
        body_number:
          type: string
          description: Номер кузова
          example: 1GBSHDC44D1126468
        chassis_number:
          type: string
          description: Номер шасі
          example: Ідентифікаційний номер транспортного засобу
        engine_number:
          type: string
          description: Номeр двигуна
          example:
        ovd:
          type: string
          description: Орган, що вніс дані у реєстр
          example: ГЕНЕРАЛЬНА ПРОКУРАТУРА УКРАЇНИ
        kind:
          type: string
          description: Тип транспортного засобу
          example: ЛЕГКОВИЙ
        status:
          type: string
          description: Статус розшуку транспортного засобу
          example: stolen
        theft_date:
          type: string
          description: Час викрадення транспортного засобу у форматі ISO 8601
          example: "2016-11-14T00:00:00Z"
        insert_date:
          type: string
          description: Час внесення інформації у рееєстр у форматі ISO 8601
          example: "2016-11-14T14:19:35Z"

    WantedRevision:
      type: object
      description: Інформація про оновлення ресурсу
      properties:
        id:
          type: string
          description: Унікальний код оновлення реєстру
          example: "29092018_2"
        name:
          type: string
          description: Назва ресурсу
          example: "MVSWantedTransport_1.json"
        url:
          type: string
          description: Посилання на оновлений ресурс
          example: "https://data.gov.ua/dataset/9b0e87e0-eaa3-4f14-9547-03d61b70abb6/resource/06e65b06-3120-4713-8003-7905a83f95f5/revision/29092018_2"
        file_hash_sum:
          type: string
          description: Хеш сума контенту файлу
          example: "f4ae97fb62c7c9b91d6b950c79deb716"
        removed:
          type: number
          description: Кількість видалених записів з реєстру
          example: 27019
        added:
          type: number
          description: Кількість доданих записів до реєстру
          example: 43365
        created_at:
          type: string
          description: Час оновлення даних у форматі ISO 8601
          example: "2018-09-29T22:33:33Z"

    WantedRevisionStatMonth:
      type: object
      description: Статистика оновлення за місяць
      properties:
        added:
          type: integer
          description: Кількість доданих записів за місяць
          example: 241
        removed:
          type: integer
          description: Кількість видалених записів за місяць
          example: 195
        month:
          type: integer
          description: Місяць
          example: 2
        year:
          type: integer
          description: Рік
          example: 2020

    UsageStats:
      type: object
      description: Статистика використання
      properties:
        failed:
          type: integer
          description: Кількість помилкових запитів
          example: 0
        succeed:
          type: integer
          description: Кількість вдалих запитів
          example: 10
        total:
          type: integer
          description: Загальна кількість запитів
          example: 10

    VinDecoderResult:
      type: object
      description: Розшифрований VIN
      properties:
        vehicle:
          type: object
          description: Кількість помилкових запитів
          properties:
            check:
              type: boolean
              description: Перевірка правильності кода
              example: true
            country:
              type: string
              description: Країна
              example: 'United States'
            manufacturer:
              type: string
              description: Виробник
              example: 'TESLA'
            region:
              type: string
              description: Регіон
              example: 'North America'
            year:
              type: integer
              description: Приблизний рік виготовлення
              example: 2016
        vin:
          type: object
          description: Кількість вдалих запитів
          properties:
            vds:
              type: string
              description: Загальна кількість запитів
              example: 'XCCE40'
            vis:
              type: string
              description: Загальна кількість запитів
              example: 'GF010543'
            wmi:
              type: string
              description: Загальна кількість запитів
              example: '5YJ'

tags:
- name: Транспорт
  description: Загальна інформація про транспортні засоби України.
- name: Статистика
  description: Статистика використання API
